@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, .3);
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}