@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, .3);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}

.sidebar{
    height: calc(100% - 104px);
}

.text-title{
    font-size: 24px;
    font-weight: bold;
}