@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* TODO: Выглядит так себе :) */
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary-color: #3366FF;
    --success-color: #87E827;
    --info-color: #36CFF9;
    --warning-color: #FCC33F;
    --danger-color: #FF4C28;
}

*::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, .3);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}

body{
    overflow-x: hidden;
}

.filter{
    height: calc(100% - 104px);
}

.text-title{
    font-size: 24px;
    font-weight: bold;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.spinner_primary path:last-child{
    color: #3366FF;
}

.spinner_white path:last-child{
    color: #fff;
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.is-visible {
    opacity: 1;
}

.alert>div{
    margin-right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.recharts-legend-item:hover{
    cursor: pointer;
}

@media (max-width: 640px) {
    .rdrDateRangePickerWrapper{
        flex-wrap: wrap;
    }

    .rdrMonth, .rdrDefinedRangesWrapper, .rdrCalendarWrapper.rdrDateRangeWrapper{
        width: 100% !important;
    }

    .rdrStaticRangeLabel{
        text-align: center !important;
    }
}

.marker_beach{
    transform: translate(-50%, calc(-50% - 24px));
    cursor: pointer;
}

.marker_beach .scale-marker{
    transform: scale(1);
}

.marker_beach:hover .scale-marker{
    transform: scale(1.2);
}

.swiper-pagination-bullet{
    border-radius: 10px !important;
    transition: .3s;
}

.swiper-pagination-bullet-active{
    width: 32px !important;
    transition: .3s;
}